h1 {
  text-align: center;
  color: #ed7104;
}

body {
  background-image: url(https://wallpapercave.com/wpt/wp4009321.jpg);
  color: lime white;
  background-repeat: repeat;
}

#a {
  padding: 4px;
  font-size: 20px;
  border-radius: border: 2px solid brown;
  padding: 10px;
  border-radius: 50px;
}

#b {
  padding: 4px;
  font-size: 20px;
  border-radius: border: 2px solid brown;
  padding: 10px;
  border-radius: 50px;
}

#c {
  padding: 4px;
  font-size: 20px;
  border-radius: border: 2px solid brown;
  padding: 10px;
  border-radius: 50px;
}

p {
  padding: 4px;
}

.box {
  margin-top: 5%;
}

form {
  text-align: center;
  left: 200px;
}
