h1 {
  text-align: center;
  color: #f4ff81 lime accent-1;
}

body {
  background-image: url(https://wallpapercave.com/wpt/wp4009321.jpg);
  color: lime white;
  background-repeat: repeat;
}

#a {
  padding: 4px;
  font-size:
}

#b {
  padding: 4px;
}

#c {
  padding: 4px;
}

p {
  padding: 4px;
}

.box {
  margin-top: 5%;
}
form{
  text-align: center;
  left: 200px;


}
